/* Main container for the Dashboard SideBar */
.dashSideBarContainer {
  display: flex;
  flex-direction: column; 
  align-items: stretch;  
  margin-top: 50px;               
}

/* Main content area of the SideBar */
.dashSideBarContent {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;  
}

/* Style for individual buttons in the SideBar */
.dashSideBarButton {
  width: 100%;
  height: 55px;
  border-radius: 10px;
  padding: 15px;
  background: linear-gradient(to right, #862e9c, #c10281); 
  text-align: center;
  border: none; 
  cursor: pointer;
  color: white;   
}

/* Add spacing between buttons */
.dashSideBarButton + .dashSideBarButton {
  margin-top: 50px;
  color: white;   
}


/* Hover effect for buttons */
.dashSideBarButton:hover {
  transition: background-color 0.3s ease;
}

/*LOWER BUTTONS ICON BUTTONS*/
.lowerLinks {
  margin-top: 40px; 
}

.lowerLink {
  display: flex;
  align-items: center;
  text-decoration: none;
  margin-bottom: 10px; 
  color: white;
}

.lowerLink svg {
  margin-right: 15px;
}

/*USER PROFILE BUTTON*/
.userProfileContainer {
  margin-top: 350px;
}
.userProfileButton {
  width: 100%;
  height: 60px;
  border-radius: 10px;
  padding: 15px;
  background: linear-gradient(to right, #862e9c, #c10281); 
  text-align: center;
  border: none; 
  cursor: pointer;
  color: white;
}

.userProfileButtonIcon {
  font-size: 30px;
}